name: Code quality
on:
  push:
    paths-ignore:
      - "*.md"
      - ".vscode/**"
jobs:
  quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Set up Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: latest
      - name: Setup Biome
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci .
